$displays: none, flex, block, inline-block, grid;
$align-contents: center, start, end, flex-start, flex-end;
$justify-contents: center, start, end, flex-start, flex-end, space-between, space-around, space-evenly;
$direction: row, row-reverse, column, column-reverse;
