@import '_variables';

:root {
  --color-primary: #{$color-primary};
  --color-secondary: #{$color-secondary};
  --color-white: #{$color-white};
  --color-success: #{$color-success};
  --color-danger: #{$color-danger};
  --color-grey: #{$color-grey};
  --color-black: #{$color-black};
  --font-weight-normal: #{$font-weight-normal};
  --font-weight-semibold: #{$font-weight-semibold};
  --font-weight-bold: #{$font-weight-bold};
  --font-weight-bolder: #{$font-weight-bolder};
  --font-size-sm: #{$font-size-sm};
  --font-size-md: #{$font-size-md};
  --font-size-lg: #{$font-size-lg};
  --font-size-xl: #{$font-size-xl};
  --border-radius-small: #{$border-radius-small};
  --border-radius: #{$border-radius};
  --border-radius-circle: #{$border-radius-circle};
  --z-index-sm: #{$z-index-sm};
  --z-index-md: #{$z-index-md};
  --z-index-lg: #{$z-index-lg};
  --z-index-xl: #{$z-index-xl};
  --z-index-infinity: #{$z-index-infinity};
}
