$font-weight-normal: 400;
$font-weight-semibold: 500;
$font-weight-bold: 700;
$font-weight-bolder: 900;

$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 21px;

$color-primary: #00a2e2;
$color-secondary: #ce8825;
$color-white: #fff;
$color-success: #73a24e;
$color-danger: #ff0005;
$color-grey: #bbbbbb;
$color-black: #000000;

$border-radius-small: 5px;
$border-radius: 12px;
$border-radius-circle: 50px;

$z-index-sm: -1;
$z-index-md: 0;
$z-index-lg: 1;
$z-index-xl: 1;
$z-index-infinity: 9999;
